<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169478551245-4pdlcvhpsrtafhd8e3bdshlohspku3it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169478551245-4pdlcvhpsrtafhd8e3bdshlohspku3it</string>
	<key>API_KEY</key>
	<string>AIzaSyCnp9U298-EPQYRwAdwM26pPD_1sA52Hhk</string>
	<key>GCM_SENDER_ID</key>
	<string>169478551245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>selcukbaki.WhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-c6e8d</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-c6e8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169478551245:ios:88866d215ac0268e729b84</string>
</dict>
</plist>